body {
    margin: 0;
}

button.ant-tabs-tab {
    color: white;
}

.ant-typography ul li, .ant-typography ol li {
    font-weight: 300;
}

.ant-tabs {
    width: 100%;
    height: 100%;
}

.ant-tabs-content {
    height: 100%;
}
